//
// Base styles
//

.card {
  background-color: red;
  color: yellow;
  height: 100px;
  word-wrap: break-word;
  border: 2px solid blue;
} 
.card-header {
  border-radius: 10px 10px 0px 0px;
  margin-top: 20px;
  color: auto;
  //background-color: white;
  
  font-size: 0.8em;
  }
  
.card-body {
  min-height: 1px;
  padding: 10px 0 px 10px 10px;
  color: auto;
  //background-color: white;
  border-bottom: 1px solid lightgrey;
  
}

.card-title {
  margin-bottom: 10px;
}

.card-subtitle {
  margin-top: -10px / 2;
  margin-bottom: 0;
}

.card-text {
  margin-bottom: 0;
}


.card-footer {
  padding: 10px 10px;
  color: $card-cap-color;
  background-color: $card-cap-bg;
  border-top: 2px solid green;
}
